body {
  color: #323233;
  font-size: 16px;
  font-weight: 300;
  font-family: "Fira Sans", sans-serif; }

a {
  color: #366CC1; }
  a:hover {
    color: #6d96d6;
    text-decoration: none; }
  a:active, a:focus {
    color: #3263b1;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: #1E1E1F; }

h1, .h1 {
  font-size: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 100; }
  @media (max-width: 767px) {
    h1, .h1 {
      font-size: 33.6px; } }

h2, .h2 {
  font-size: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 100; }
  @media (max-width: 767px) {
    h2, .h2 {
      font-size: 28px; } }

h3, .h3 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 100; }
  @media (max-width: 767px) {
    h3, .h3 {
      font-size: 22.4px; } }

h4, .h4 {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 100; }
  @media (max-width: 767px) {
    h4, .h4 {
      font-size: 16.8px; } }

p {
  margin-bottom: 24px;
  line-height: 1.7; }

img {
  max-width: 100%; }

.font-xsmall {
  font-size: 14.4px; }

.section {
  display: block;
  position: relative;
  padding: 180px 15px; }
  @media (max-width: 1199px) {
    .section {
      padding: 250px 15px !important; } }
  @media (max-width: 991px) {
    .section {
      padding: 120px 15px !important; } }
  @media (max-width: 767px) {
    .section {
      padding: 60px 15px !important; } }
  .section .section-heading {
    font-size: 64px;
    margin-bottom: 50px;
    letter-spacing: 1px;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .section .section-heading {
        font-size: 32px; } }
  .section .section-content {
    font-size: 18px;
    letter-spacing: 1px; }
    @media (max-width: 767px) {
      .section .section-content {
        font-size: 14.4px; } }

.section-intro {
  height: 100%;
  height: 100vh; }
  .section-intro.light {
    color: #fff; }
  .section-intro p, .section-intro h1, .section-intro h2 {
    color: inherit; }

.section-lg {
  padding: 250px 15px; }

.section-sm {
  padding: 120px 15px; }

.section-xs {
  padding: 60px 15px; }

.section-container {
  display: table;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
  .section-container .section-content {
    display: table-cell;
    vertical-align: middle; }

.section-overlay, .overlay-image, .overlay-color {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.section-overlay {
  z-index: -1; }

.overlay-image img {
  width: 100%; }

.background-cover {
  background-size: cover; }

.background-center {
  background-position: 0 50%; }

.background-fixed {
  background-attachment: fixed; }

.heading-divider {
  position: relative; }
  .heading-divider:after {
    content: "";
    position: absolute;
    height: 1px;
    background: #d0d0d2;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .heading-divider.light:after {
    background: #f7f7f7; }
  .heading-divider:after {
    bottom: -15px;
    left: 0;
    width: 0; }
  .heading-divider.center:after {
    bottom: -15px;
    left: 50%;
    width: 0;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .heading-divider.right:after {
    bottom: -15px;
    right: 0;
    width: 0; }
  .heading-divider:hover:after {
    width: 30%; }

.mouse-wheel {
  display: block;
  position: absolute;
  bottom: 20px;
  width: 30px;
  height: 40px;
  left: 50%;
  margin-left: -15px; }
  .mouse-wheel:after {
    content: "";
    position: absolute;
    left: 50%;
    background: #1E1E1F;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: animation-slidedown 0.8s ease-in-out infinite;
    -moz-animation: animation-slidedown 0.8s ease-in-out infinite;
    -o-animation: animation-slidedown 0.8s ease-in-out infinite;
    animation: animation-slidedown 0.8s ease-in-out infinite; }
  .mouse-wheel.light:after {
    background: #fff; }

@-webkit-keyframes animation-slidedown {
  30% {
    top: 20%; }
  60% {
    top: 50%; }
  100% {
    opacity: 0.2;
    top: 95%; } }
@-moz-keyframes animation-slidedown {
  30% {
    top: 20%; }
  60% {
    top: 50%; }
  100% {
    opacity: 0.2;
    top: 95%; } }
@-o-keyframes animation-slidedown {
  30% {
    top: 20%; }
  60% {
    top: 50%; }
  100% {
    opacity: 0.2;
    top: 95%; } }
@keyframes animation-slidedown {
  30% {
    top: 20%; }
  60% {
    top: 50%; }
  100% {
    opacity: 0.2;
    top: 95%; } }
.background-primary {
  background-color: #366CC1; }

.background-secondry {
  background-color: #6B7CF6; }

.background-grey {
  background-color: #888888; }

.background-grey-light {
  background-color: #bbbbbb; }

.background-grey-dark {
  background-color: #555555; }

.background-black {
  background-color: #000; }

.opacity-1 {
  opacity: 0.1; }

.opacity-2 {
  opacity: 0.2; }

.opacity-3 {
  opacity: 0.3; }

.opacity-4 {
  opacity: 0.4; }

.opacity-5 {
  opacity: 0.5; }

.opacity-6 {
  opacity: 0.6; }

.opacity-7 {
  opacity: 0.7; }

.opacity-8 {
  opacity: 0.8; }

.opacity-9 {
  opacity: 0.9; }

.opacity-10 {
  opacity: 1; }

button, .button {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #323233;
  letter-spacing: 1.5px;
  text-transform: inherit;
  background: #d5d5d5;
  white-space: nowrap;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  button:hover, .button:hover {
    color: #323233;
    background: #e1e1e1; }
  button:focus, button:active, .button:focus, .button:active {
    color: #323233;
    outline: none;
    background: #c8c8c8; }
  button[disabled], button.disabled, .button[disabled], .button.disabled {
    cursor: not-allowed;
    opacity: 0.6; }

.button-primary {
  background: #366CC1;
  color: #fff;
  border-color: transparent; }
  .button-primary:hover {
    color: #fff;
    background: #5988d1; }
  .button-primary:focus, .button-primary:active {
    color: #fff;
    background: #3061ad; }

.button-secondry {
  background: #6B7CF6;
  color: #fff;
  border-color: transparent; }
  .button-secondry:hover {
    color: #fff;
    background: #9ba7f9; }
  .button-secondry:focus, .button-secondry:active {
    color: #fff;
    background: #5367f5; }

.button-success {
  background: #21bf82;
  color: #fff;
  border-color: transparent; }
  .button-success:hover {
    color: #fff;
    background: #37dc9c; }
  .button-success:focus, .button-success:active {
    color: #fff;
    background: #1da973; }

.button-danger {
  background: #f9583e;
  color: #fff;
  border-color: transparent; }
  .button-danger:hover {
    color: #fff;
    background: #fb836f; }
  .button-danger:focus, .button-danger:active {
    color: #fff;
    background: #f84325; }

.button-warning {
  background: #F2671D;
  color: #fff;
  border-color: transparent; }
  .button-warning:hover {
    color: #fff;
    background: #f5874d; }
  .button-warning:focus, .button-warning:active {
    color: #fff;
    background: #e8590d; }

.button-invert {
  background: #222222;
  color: #fff;
  border-color: transparent; }
  .button-invert:hover {
    color: #fff;
    background: #3c3c3c; }
  .button-invert:focus, .button-invert:active {
    color: #fff;
    background: #151515; }

.button-outline {
  background: transparent;
  color: #323233;
  border-color: #d5d5d5; }
  .button-outline:hover {
    color: #323233;
    background: rgba(26, 26, 26, 0); }
  .button-outline:focus, .button-outline:active {
    color: #323233;
    background: transparent; }

.button-outline-primary {
  background: transparent;
  color: #366CC1;
  border-color: #366CC1; }
  .button-outline-primary:hover {
    color: #366CC1;
    background: rgba(26, 26, 26, 0); }
  .button-outline-primary:focus, .button-outline-primary:active {
    color: #366CC1;
    background: transparent; }

.button-outline-secondry {
  background: transparent;
  color: #6B7CF6;
  border-color: #6B7CF6; }
  .button-outline-secondry:hover {
    color: #6B7CF6;
    background: rgba(26, 26, 26, 0); }
  .button-outline-secondry:focus, .button-outline-secondry:active {
    color: #6B7CF6;
    background: transparent; }

.button-outline-success {
  background: transparent;
  color: #21bf82;
  border-color: #21bf82; }
  .button-outline-success:hover {
    color: #21bf82;
    background: rgba(26, 26, 26, 0); }
  .button-outline-success:focus, .button-outline-success:active {
    color: #21bf82;
    background: transparent; }

.button-outline-danger {
  background: transparent;
  color: #f9583e;
  border-color: #f9583e; }
  .button-outline-danger:hover {
    color: #f9583e;
    background: rgba(26, 26, 26, 0); }
  .button-outline-danger:focus, .button-outline-danger:active {
    color: #f9583e;
    background: transparent; }

.button-outline-warning {
  background: transparent;
  color: #F2671D;
  border-color: #F2671D; }
  .button-outline-warning:hover {
    color: #F2671D;
    background: rgba(26, 26, 26, 0); }
  .button-outline-warning:focus, .button-outline-warning:active {
    color: #F2671D;
    background: transparent; }

.button-outline-invert {
  background: transparent;
  color: #222222;
  border-color: #222222; }
  .button-outline-invert:hover {
    color: #222222;
    background: rgba(26, 26, 26, 0); }
  .button-outline-invert:focus, .button-outline-invert:active {
    color: #222222;
    background: transparent; }

.button-lg {
  padding: 16px 35px;
  font-size: 15.4px; }

.button-sm {
  padding: 8px 16px;
  font-size: 12.6px; }

.button-xs {
  padding: 5px 10px;
  font-size: 11.2px; }

button, .button + button, .button {
  margin-right: 3px;
  margin-bottom: 3px; }

label, .label {
  font-size: 14.4px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #7e7e80; }

.fm-control {
  padding: 5px 12px;
  display: inline-block;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  font-size: 16px;
  line-height: 1.75;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .fm-control:focus {
    outline: none;
    border-color: #366CC1;
    box-shadow: 0 0 8px rgba(54, 108, 193, 0.4); }
  .fm-control.danger {
    border-color: #f9583e; }
    .fm-control.danger:focus {
      box-shadow: 0 0 8px rgba(249, 88, 62, 0.4); }
  .fm-control.success {
    border-color: #21bf82; }
    .fm-control.success:focus {
      box-shadow: 0 0 8px rgba(33, 191, 130, 0.4); }
  .fm-control::placeholder {
    color: #b1b1b3; }

textarea.fm-control {
  min-height: 100px; }

.fm-select {
  position: relative;
  display: inline-block;
  background: #fff; }
  .fm-select select {
    padding: 5px 12px;
    display: inline-block;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    font-size: 16px;
    position: relative;
    z-index: 2;
    background: transparent;
    line-height: 1.75;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .fm-select select:focus {
      outline: none;
      border-color: #366CC1;
      box-shadow: 0 0 8px rgba(54, 108, 193, 0.4); }
    .fm-select select.danger {
      border-color: #f9583e; }
      .fm-select select.danger:focus {
        box-shadow: 0 0 8px rgba(249, 88, 62, 0.4); }
    .fm-select select.success {
      border-color: #21bf82; }
      .fm-select select.success:focus {
        box-shadow: 0 0 8px rgba(33, 191, 130, 0.4); }
    .fm-select select + .caret {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 10px;
      height: 10px;
      z-index: 1;
      margin: 12px 16px;
      border: 1px solid #bbbbbb;
      border-top-width: 0;
      border-right-width: 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .fm-select select:not([multiple]) {
      padding-right: 45px; }
    .fm-select select:not([multiple]) + .caret {
      display: block; }

.fm-group {
  display: block;
  margin-bottom: 24px;
  position: relative; }
  .fm-group .fm-error {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -2px;
    z-index: 99;
    color: #fff;
    background: #f9583e;
    padding: 3px 12px;
    font-size: 11.2px;
    border-radius: 2px; }
  .fm-group .fm-success {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -2px;
    z-index: 99;
    color: #fff;
    background: #21bf82;
    padding: 3px 12px;
    font-size: 11.2px;
    border-radius: 2px; }
  .fm-group.active .fm-control, .fm-group.active .fm-select select {
    border-color: #366CC1; }
    .fm-group.active .fm-control:focus, .fm-group.active .fm-select select:focus {
      box-shadow: 0 0 8px rgba(54, 108, 193, 0.4); }
  .fm-group.has-error .fm-control, .fm-group.has-error .fm-select select {
    border-color: #f9583e; }
    .fm-group.has-error .fm-control:focus, .fm-group.has-error .fm-select select:focus {
      box-shadow: 0 0 8px rgba(249, 88, 62, 0.4); }
  .fm-group.has-error .fm-error {
    display: block; }
  .fm-group.has-success .fm-control, .fm-group.has-success .fm-select select {
    border-color: #21bf82; }
    .fm-group.has-success .fm-control:focus, .fm-group.has-success .fm-select select:focus {
      box-shadow: 0 0 8px rgba(33, 191, 130, 0.4); }
  .fm-group.has-success .fm-success {
    display: block; }

.fm-group .fm-control {
  display: block;
  width: 100%; }
.fm-group .fm-select {
  display: block;
  width: 100%; }
  .fm-group .fm-select select {
    display: block;
    width: 100%; }

/*# sourceMappingURL=style.css.map */
